.webchat__screen-reader-activity, .webchat__live-region-transcript__interactive-note, .webchat__live-region-transcript__text-element {
  color: initial !important;
  height: initial !important;
  opacity: initial !important;
  overflow: initial !important;
  position: initial !important;
  top: initial !important;
  white-space: initial !important;
  width: initial !important;
}

.webchat__screen-reader-activity .webchat__screen-reader-activity__timestamp {
  display: none;
}
