:focus {
  outline-color: rgba(0, 0, 0, 0.4) !important;
  outline-offset: -4px !important;
  outline-style: dotted !important;
  outline-width: 2px !important;
}

:focus:not(.webchat__scroll-to-end-button) {
  background-color: Yellow !important;
}

:disabled:focus,
[aria-disabled='true']:focus {
  outline-color: rgba(0, 0, 0, 0.2) !important;
}

#webchat .card__action--performed {
  background-color: #0063b1 !important;
  border-color: #0063b1 !important;
  color: White !important;
}

#webchat .card__action--performed:focus {
  outline-color: rgba(255, 255, 255, 0.6) !important;
}

#webchat input.webchat__send-box-text-box__input {
  outline-offset: 2px !important;
}

#webchat .webchat__scroll-to-end-button:focus {
  outline-color: rgba(255, 255, 255, 0.6) !important;
}
