:global(.webchat) .bubble {
  display: flex;
  position: relative;

  .bubble__content {
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    /* This is for hiding content outside of the bubble, for example, content outside of border radius */
    overflow: hidden;
    transition-duration: var(--webchat__transition-duration);
    transition-property: margin-left, margin-right;
    word-break: var(--webchat__word-break--message-activity);
  }

  .bubble__nub {
    overflow: hidden; /* This style is for IE11 because it doesn't respect SVG viewport */
    position: absolute;
  }

  .bubble__nub-pad {
    flex-shrink: 0;
    transition-duration: var(--webchat__transition-duration);
    transition-property: width;
    width: 0;
  }

  &.bubble--hide-nub,
  &.bubble--show-nub {
    .bubble__nub-pad {
      width: var(--webchat__padding--regular);
    }
  }

  &.bubble--rtl .bubble__nub {
    transform: scale(-1, 1);
  }

  /* Bot bubble styles (not from user) */
  &:not(.bubble--from-user) {
    .bubble__content {
      background: var(--webchat__background--bubble);
      border-color: var(--webchat__border-color--bubble);
      border-radius: var(--webchat__border-radius--bubble);
      border-style: var(--webchat__border-style--bubble);
      border-width: var(--webchat__border-width--bubble);
      color: var(--webchat__text-color--bubble);
      min-height: calc(var(--webchat__min-height--bubble) - var(--webchat__border-width--bubble) * 2);
    }

    .bubble__nub {
      height: var(--webchat__size--bubble-nub);
      width: var(--webchat__size--bubble-nub);
    }

    &:not(.bubble--nub-on-top) .bubble__nub {
      bottom: calc(-1 * var(--webchat__space--bubble-nub));
    }

    &.bubble--nub-on-top .bubble__nub {
      top: var(--webchat__space--bubble-nub);
    }

    .bubble__nub-outline {
      fill: var(--webchat__background--bubble);
      stroke: var(--webchat__border-color--bubble);
      stroke-width: var(--webchat__border-width--bubble);
    }
  }

  /* User bubble styles */
  &.bubble--from-user {
    flex-direction: row-reverse;

    .bubble__content {
      background: var(--webchat__background--bubble-user);
      border-color: var(--webchat__border-color--bubble-user);
      border-radius: var(--webchat__border-radius--bubble-user);
      border-style: var(--webchat__border-style--bubble-user);
      border-width: var(--webchat__border-width--bubble-user);
      color: var(--webchat__color--bubble-user);
      min-height: calc(var(--webchat__min-height--bubble) - var(--webchat__border-width--bubble-user) * 2);
    }

    .bubble__nub {
      height: var(--webchat__size--bubble-nub-user);
      width: var(--webchat__size--bubble-nub-user);
    }

    &:not(.bubble--nub-on-top) .bubble__nub {
      bottom: calc(-1 * var(--webchat__space--bubble-nub-user));
    }

    &.bubble--nub-on-top .bubble__nub {
      top: var(--webchat__space--bubble-nub-user);
    }

    .bubble__nub-outline {
      fill: var(--webchat__background--bubble-user);
      stroke: var(--webchat__border-color--bubble-user);
      stroke-width: var(--webchat__border-width--bubble-user);
    }
  }

  /* RTL styles for bot bubbles */
  &.bubble--rtl:not(.bubble--from-user) {
    &.bubble--show-nub {
      /* Hide border radius if there is a nub on the top/bottom left corner */
      &:not(.bubble--nub-on-top) .bubble__content {
        border-bottom-left-radius: min(var(--webchat__border-radius--bubble), abs(var(--webchat__space--bubble-nub)));
      }

      &.bubble--nub-on-top .bubble__content {
        border-top-left-radius: min(var(--webchat__border-radius--bubble), abs(var(--webchat__space--bubble-nub)));
      }
    }

    .bubble__nub {
      left: calc(
        var(--webchat__border-width--bubble) -
        var(--webchat__size--bubble-nub) +
        var(--webchat__padding--regular)
      );
    }
  }

  /* RTL styles for user bubbles */
  &.bubble--rtl.bubble--from-user {
    &.bubble--show-nub {
      /* Hide border radius if there is a nub on the top/bottom right corner */
      &:not(.bubble--nub-on-top) .bubble__content {
        border-bottom-right-radius: min(
          var(--webchat__border-radius--bubble-user),
          abs(var(--webchat__space--bubble-nub-user))
        );
      }

      &.bubble--nub-on-top .bubble__content {
        border-top-right-radius: min(
          var(--webchat__border-radius--bubble-user),
          abs(var(--webchat__space--bubble-nub-user))
        );
      }
    }

    .bubble__nub {
      right: calc(
        var(--webchat__border-width--bubble-user) -
        var(--webchat__size--bubble-nub-user) +
        var(--webchat__padding--regular)
      );
    }
  }
}
