body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-history {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 6px;
}

*:focus {
  background-color: yellow !important;
}

.chat-history:focus-within {
  outline: solid 2px black;
  outline-offset: 2px;
}

.chat-message:focus {
  outline: dashed 2px black;
  outline-offset: 2px;
}

.chat-message:focus-within {
  outline: dotted 2px black;
  outline-offset: 2px;
}

.chat-message {
  background-color: White;
  border: solid 1px #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 8px;
}

.chat-message__header {
  color: #999;
  font-size: smaller;
  font-weight: lighter;
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.chat-message__body > .focus-trap > p:first-of-type,
.chat-message__content > .focus-trap > p:first-of-type {
  margin-block-start: 0;
}

.chat-message__body > .focus-trap > p:last-of-type,
.chat-message__content > .focus-trap > p:last-of-type {
  margin-block-end: 0;
}

.chat-message__content,
.focus-trap {
  /* These elements are meaningless in CSS world, adding "display: contents" to save some CPUs. */
  display: contents;
}

.send-box {
  margin: 6px;
}

.focus-sentinel {
  /* Cannot use display: contents because it would mark the element as non-focusable. */
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
