/**/*
!/__tests__
/__tests__/__image_snapshots__
!/packages/bundle/dist
!/packages/playground/build
!/packages/testharness/dist
!/packages/testharness2/dist
!/packages/testpageobjects/dist
!/serve-test.json
