/__tests__/__image_snapshots__/**/__diff_output__
/.env
/*.tgz
/coverage
/debug.log
/gh-pages
/node_modules
/tarball.zip

# Do not commit binaries
/chromedriver*
chromedriver.exe

/image-snapshots.zip
/.vs
.DS_Store
