/__tests__/__image_snapshots__/**/__diff_output__
/coverage
/debug.log
/gh-pages
/lerna-debug.log
/node_modules

# Do not commit binaries
/chromedriver*
chromedriver.exe

/image-snapshots.zip
/.vs
.DS_Store
