sudo: required

language: node_js

node_js:
  - "10"

services:
#   - docker

before_install:
  - npm install
  - sudo apt-get install jq
  - npx version-from-git --travis
  - git checkout -b temp-ci
  - lerna version --force-publish --no-git-tag-version --no-push --yes `cat package.json | jq -r .version`
  # - lerna exec npm version --no-git-tag-version `cat \$LERNA_ROOT_PATH/package.json | jq -r .version`

install:
  #  - docker build -t webchat.azurecr.io/playground .
  - npm run bootstrap
  - npm run build
  - npm run prepublishOnly

script:
  - echo

before_deploy:
  - git config --local user.name "Bot Framework"
  - git config --local user.email "botframework@microsoft.com"

deploy:
  # - provider: script
  #   script: bash scripts/docker_push
  #   on:
  #     branch: v4
  - provider: script
    script: bash scripts/deploycdn.sh
    skip_cleanup: true
    on:
      branch: v4
  - provider: script
    script: bash scripts/deploycdn.sh
    skip_cleanup: true
    on:
      tags: true
