language: node_js
node_js:
  - "10"
env:
  - secure: "D3J4BNrSjHqPn2kcytkIXQ8IRacPVFN66ID6bOKjkZQub4hQR1Um6Mrk7i5w6Ujx91kW2q/3Y7gfhvW0LvZJxiWDNFaJxxx9Z4qR+1ZLqgVwdnFxVIOpHxMeXAAUyQmFhlZuoOcLh8O0VSGp8QXnDwFzjd4+8zlxq6ftMYIWkKHazi9xsa5F4vegLKEWIGk0huw2T1S9+zUxn76XaIAKWnYHSIHAmeG9c8ZHmkIe+vbic9vfo8/bLZ1+BxN9hWd+muyGOF6RfOJQD7bS48KYz7ngmufvZ7yEh6yQs1O3cxA92x7NGXkNTq7RnI8g0M1RX5h1eWjBqqdw8wF61aZgG0tKnWoJCYK1dWKfm9T0yClIh0i01Gw8KO8euH+ZP18d00tqwzcdwNxCW47UMNjSEJlE9mlteZ8h7FRGs56esP9a0RuO8hFGoMqHo8uajuAU84u4nlQqyDl68Gy6onN7Pj6YOX2POExg5V2HNRwWq7UL5gzK7YPopRFNjhGWyRs5+YmpJPYGvrNVmVuncdDzv0bBUKh17OglQE6IF7PXJc1A1d27IvBO0oEQRrtS+SkrmspEA6lVpp+sBWo2XMOhDKyxAqCmpMztmfeB8fTk42Cdtrmycsnhcow7doqKRvRfWG2EuYpvBPKmVPhHjSVSxlUTlbcTG4ozbLzQdvDRLzc="
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq build-essential libssl-dev libffi-dev python3-dev python3-pip setuptools
  - pip3 install blobxfer
install:
  # - npm install
  - npm run install-test
before_script:
  # - npm run build
  - npm run build-test
script:
  # Our tests currently don't run on Travis, disabling them for now
  - npm --version
before_deploy:
  - git config --local user.name "Bot Framework"
  - git config --local user.email "botframework@microsoft.com"
  - npx version-from-git
deploy:
  - provider: npm
    api_key:
      secure: "ow4+DeFWxK5eSiId/c8jkRi6vPc97GgrtgP71SQFxVrcA3tKnDLtaZ4pxDeU+HdMpfdiGq75MQLJMT0UDw7WV3il/HWyTYyJzV6yG12Kw/fv0Rc08in0ImGT7BTt5DVSKqCOD9rpD3MZx3oLqLIVz8wqpVu33w+i6dsPyTQeiJPJ/p/hn6mxt0EcEXaULcYk+gFEiSz0tbP/Ak4CCIC40876T3e3CE8HlE+8Ru8fToeK98ZHLcnVpRcNwgb6qApY09gluJ+ylVVRXK49ofnPyD2KsabPdPv7py1GmmYEXhFLtuIrnTm+yPKKTaVOejbhYO32Z/uRZvr6zjyickVWua4uGm2JqCrg+NHjdiBdKdKM97kq2JvcESt/B4QJLgY2jpd/urgwL272rNpK6psDjpvUBLadnCP8HFqizSWBg23r01wZj2W2cNdiLqvJRfFUQZ4RnshifdBROiiKt88BBkIx3MxaI/OS8I8cODwSPcbA87ptZfzHHtcL39aNAQ9uuvv5kqA6I1tpujm/NJJiIA3xqnoHs0cUjXQEJ8GIIJnap798xsh/0sqfra54PNg8ICw1wXaBlY8qJjkGnqROtdW8dQY4IxOvSKZX8gjpVKw20C2qlJofvUHTkfvQhJz/S1iD5b20IlxEbclRf3fciqU+cx7LkwyUJs7FFZkzUdU="
    email: "botframework@microsoft.com"
    on:
      branch: masterXXX
    skip_cleanup: true
    tag: master
  - provider: script
    script: bash scripts/deploy.sh
    on:
      branch: masterXXX
