:global(.webchat-fluent) .activity-decorator {
  display: contents;
  font-family: var(--webchat__font--primary);

  --webchat__bubble--inline-padding: var(--webchat-spacingHorizontalL);
  --webchat__bubble--block-padding: var(--webchat-spacingVerticalM);
  --webchat__bubble--min-height: var(--webchat-bubble-minHeight);
  --webchat__bubble--max-width: var(--webchat-bubble-maxWidth);
  --webchat__bubble--min-width: var(--webchat-bubble-minWidth);

  --webchat-bubble-maxWidth: var(--bubble-maxWidth, max(450px, 75%));
  --webchat-bubble-minWidth: var(--bubble-minWidth, auto);
  --webchat-bubble-minHeight: var(--bubble-minHeight, 36px);
  --webchat-externalLink-mask: var(
    --externalLink-mask,
    var(--webchat__icon-url--external-link) center center /
    10px 10px
  );
  --webchat-externalLink-maxWidth: var(--externalLink-maxWidth, 204px);

  /* Override for stacked layout message which has user message bubble props */
  &:has(:global(.webchat__stacked-layout .webchat__bubble--from-user)) {
    --webchat__bubble--background-color: var(--webchat-colorBrandBackground2);
    --webchat__bubble--block-padding: var(--webchat-spacingVerticalS);
    --webchat__bubble--min-width: auto;
  }
}

/* Decorator fluent variant */
:global(.webchat-fluent) .activity-decorator.variant-fluent {
  --webchat__bubble--background-color: var(--webchat-colorNeutralBackground1);
  --webchat__bubble--border-radius: var(--webchat-borderRadiusXLarge);
  --webchat__bubble--box-shadow: var(--webchat-shadow4);
}

/* Decorator copilot variant */
:global(.webchat-fluent) .activity-decorator.variant-copilot {
  --webchat__bubble--border-radius: var(--webchat-borderRadiusXLarge);

  :global(.webchat__activity-status) {
    margin: 0 0 var(--webchat-spacingHorizontalXXS);
  }

  :global(.webchat__stacked-layout__status) {
    order: -1;
  }

  &:has(:global(.webchat__bubble--from-user)) :global(.webchat__bubble) {
    margin-block-end: var(--webchat-spacingVerticalM);
  }

  /* Hide generated badge as it is in the copilot header */
  :global(.webchat__bubble .webchat__text-content .webchat__text-content__generated-badge) {
    display: none;
  }
}

/* Decorator copilot variant which has bot message */
:global(.webchat-fluent) .activity-decorator.variant-copilot:not(:has(:global(.webchat__bubble--from-user))) {
  --webchat__bubble--block-padding: 0;
  --webchat__bubble--border-radius: var(--webchat-borderRadiusMedium);
  --webchat__bubble--inline-padding: 0;
  --webchat__bubble--max-width: 100%;
  --webchat__bubble--min-height: 20px;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--webchat-spacingVerticalS);
  margin-inline: var(--webchat-spacingHorizontalM);
  padding: var(--webchat-spacingVerticalMNudge) var(--webchat-spacingHorizontalM) var(--webchat-spacingVerticalM);
  position: relative;

  :global(.webchat__stacked-layout) {
    margin: 0;
    position: static;
  }

  :global(.webchat__bubble) {
    position: static;
    width: var(--webchat__bubble--max-width);
  }

  :global(.webchat__bubble .webchat__bubble__content) {
    overflow: visible;
  }

  :global(.webchat__text-content) {
    margin-inline-start: 28px;
  }

  :global(.border-loader) {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--webchat-spacingVerticalS);
    padding-inline-end: var(--webchat-spacingHorizontalM);
    width: 500px;
  }

  :global(.border-loader__track) {
    border-radius: inherit;
    box-sizing: border-box;
    clip-path: border-box;
    margin-inline-start: 28px;
    order: -1;
    width: auto;
  }

  :global(.webchat__stacked-layout__status) {
    display: none;
  }
}

/* Transcript activity non-empty */
:global(.webchat-fluent) .activity-decorator :global(.webchat__basic-transcript__activity-body:not(:empty)) {
  padding-block-end: var(--webchat-spacingVerticalXL);
}

/* Stacked layout */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout) {
  display: flex;
  flex-flow: column nowrap;
}

/* Stacked layout which has message bubble */
:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__stacked-layout .webchat__stacked-layout__content:has(.webchat__bubble)) {
  max-width: 100%;
  overflow: visible;
}

/* Message status */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__stacked-layout__status) {
  font-size: var(--webchat__font-size--small);
  line-height: var(--webchat__line-height--small);
}

/* Message bubble */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__bubble) {
  max-width: min(var(--webchat__bubble--max-width), 100%);
  min-width: var(--webchat__bubble--min-width);
  overflow: visible;

  /* Take all width available when has message bubble latency loader */
  &:has(:global(.border-loader)) {
    width: 100%;
  }

  /* Ensure activity loader doesn't have bubble and shadow */
  &:has(:global(.activity-loader)) :global(.webchat__bubble__content) {
    background: transparent;
    box-shadow: none;
  }
}

/* Message bubble content */
:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__stacked-layout .webchat__bubble .webchat__bubble__content) {
  background-color: var(--webchat__bubble--background-color);
  border-radius: var(--webchat__bubble--border-radius);
  border-width: 0;
  box-shadow: var(--webchat__bubble--box-shadow);
  box-sizing: border-box;
  color: var(--webchat-colorNeutralForeground1);
  max-width: 100%;
  min-height: var(--webchat__bubble--min-height);
}

/* Message bubble text content */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__bubble .webchat__text-content) {
  font-size: var(--webchat__font-size--medium);
  line-height: var(--webchat__line-height--medium);
  min-height: auto;
  padding-block: var(--webchat__bubble--block-padding);
  padding-inline: var(--webchat__bubble--inline-padding);

  &:empty {
    padding-block-end: 0;
  }

  + :global(.webchat__text-content) {
    margin-top: calc(var(--webchat__bubble--block-padding) * -1);
  }
}

/* Message bubble text content generated badge */
:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__stacked-layout .webchat__bubble .webchat__text-content__generated-badge) {
  align-items: center;
  align-self: flex-start;
  background-color: var(--webchat-colorNeutralBackground5);
  border-radius: var(--webchat-borderRadiusMedium);
  box-sizing: border-box;
  color: var(--webchat-colorNeutralForeground3);
  cursor: default;
  display: inline-flex;
  font-size: var(--webchat-fontSizeBase100);
  height: 16px;
  line-height: var(--webchat-lineHeightBase100);
  padding-inline: var(--webchat-spacingHorizontalXS);
}

/* Message bubble attachment content */
:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__stacked-layout .webchat__bubble .webchat__fileContent__badge) {
  cursor: default;
  font-size: var(--webchat-fontSizeBase300);
  line-height: var(--webchat-lineHeightBase300);

  :global(.webchat__fileContent__fileName) {
    color: var(--webchat-colorBrandForegroundLink);
    font-family: inherit;
  }
  :global(.webchat__fileContent__size) {
    color: var(--webchat-colorNeutralForeground2);
    font-family: inherit;
  }
}

:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__stacked-layout .webchat__bubble .webchat__fileContent__downloadIcon) {
  color: var(--webchat-colorBrandForegroundLink);
}

/* Markdown links and citation links */
:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__render-markdown)
  a[href]:not(:global(.webchat__render-markdown__pure-identifier)) {
  color: var(--webchat-colorBrandForegroundLink);
  text-decoration-color: transparent;

  &:target {
    color: var(--webchat-colorBrandForegroundLinkSelected);
  }

  &:hover {
    color: var(--webchat-colorBrandForegroundLinkHover);
    text-decoration: underline 1px currentColor;
  }

  &:active {
    color: var(--webchat-colorBrandForegroundLinkPressed);
  }

  &:focus-visible {
    outline: none;
    text-decoration: underline 1px double var(--webchat-colorStrokeFocus2);
  }

  :global(.webchat__render-markdown__external-link-icon) {
    background: currentColor;
    -webkit-mask: var(--webchat__icon-url--external-link) no-repeat;
    mask: var(--webchat__icon-url--external-link) no-repeat;
  }
}

/* Citation inline references */
:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__render-markdown)
  :global(.webchat__render-markdown__citation),
:global(.webchat-fluent)
  .activity-decorator
  :global(.webchat__render-markdown)
  :global(.webchat__render-markdown__pure-identifier) {
  align-items: center;
  background-color: var(--webchat-colorNeutralBackground3);
  border-radius: var(--webchat-borderRadiusMedium);
  border: var(--webchat-strokeWidthThin) solid var(--webchat-colorNeutralStroke2);
  box-sizing: border-box;
  color: var(--webchat-colorNeutralForeground2);
  display: inline-flex;
  font-size: var(--webchat-fontSizeBase100);
  font-weight: var(--webchat-fontWeightSemibold);
  height: 14px;
  justify-content: center;
  line-height: var(--webchat-lineHeightBase100);
  margin-left: var(--webchat-spacingHorizontalXXS);
  margin-right: var(--webchat-spacingHorizontalXXS);
  min-width: 14px;
  text-decoration: none;
  transition: all var(--webchat-durationNormal) var(--webchat-curveDecelerateMid);
  vertical-align: calc((var(--webchat-lineHeightBase100) - var(--webchat-fontSizeBase100)) / 2);

  &:hover {
    background-color: var(--webchat-colorBrandBackground2Hover);
    border-color: var(--webchat-colorBrandStroke2Hover);
    color: var(--webchat-colorBrandForeground2Hover);
    cursor: pointer;
  }

  &:hover:active {
    background-color: var(--webchat-colorBrandBackground2Pressed);
    border-color: var(--webchat-colorBrandStroke2Pressed);
    color: var(--webchat-colorBrandForeground2Pressed);
  }

  &::before,
  &::after {
    all: unset;
  }

  &:has(:global(.webchat__render-markdown__external-link-icon)) {
    padding-inline: 3px;
  }

  :global(.webchat__render-markdown__external-link-icon) {
    background: currentColor;
    height: 0.7em;
    -webkit-mask: var(--webchat__icon-url--external-link) no-repeat;
    mask: var(--webchat__icon-url--external-link) no-repeat;
  }
}

/* Citation summary chevron */
:global(.webchat-fluent) .activity-decorator :global(.webchat__link-definitions__header) {
  border-radius: var(--webchat-borderRadiusMedium);

  :global(.webchat__link-definitions__header-text) {
    color: var(--webchat-colorNeutralForeground3);
  }

  :global(.webchat__link-definitions__message-sensitivity-label-text) {
    color: var(--webchat-colorNeutralForeground4);
  }

  :global(.webchat__link-definitions__header-chevron) {
    fill: var(--webchat-colorNeutralForeground3);
    font-size: var(--webchat__font-size--small);
    width: 1em;
  }

  &:focus-visible {
    outline-offset: 1px;
    outline: var(--webchat-strokeWidthThin) solid var(--webchat-colorStrokeFocus2);
  }
}

/* Citation link definitions */
:global(.webchat-fluent) .activity-decorator :global(.webchat__link-definitions) {
  --webchat__citation__external-link--mask: var(--webchat-externalLink-mask);
  --webchat__citation__link--max-width: var(--webchat-externalLink-maxWidth);

  :global(.webchat__link-definitions__list) {
    color: var(--webchat__color--subtle);
    display: flex;
    flex-flow: row wrap;
    gap: var(--webchat-spacingHorizontalS);
  }

  :global(.webchat__link-definitions__list-item) {
    border-radius: var(--webchat-borderRadiusMedium);
    max-width: var(--webchat__citation__link--max-width);
  }

  :global(.webchat__link-definitions__list-item-box) {
    background-color: var(--webchat-colorNeutralBackground3);
    border-radius: var(--webchat-borderRadiusMedium);
    border: var(--webchat-strokeWidthThin) solid var(--webchat-colorNeutralStroke2);
    box-sizing: border-box;
    color: currentColor;
    display: inline-flex;
    font-size: var(--webchat__font-size--small);
    height: 24px;
    padding-inline-end: var(--webchat-spacingHorizontalS);
  }

  :global(.webchat__link-definitions__list-item-body) {
    font-family: inherit;
    gap: var(--webchat-spacingHorizontalSNudge);
    min-width: 0;
    padding: 0;
  }

  :global(.webchat__link-definitions__badge) {
    align-self: center;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: currentColor;
    font-size: var(--webchat-fontSizeBase100);
    font-weight: var(--webchat-fontWeightSemibold);
    line-height: var(--webchat-lineHeightBase100);
    margin: 0;
    min-width: 20px;
    padding: 0;
    position: relative;
    text-align: center;
  }

  :global(.webchat__link-definitions__badge)::after {
    border-right: var(--webchat-strokeWidthThin) solid var(--webchat-colorNeutralStroke2);
    bottom: 0;
    content: '';
    display: block;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
  }

  :global(.webchat__link-definitions__list-item-main-text) {
    gap: var(--webchat-spacingHorizontalXS);
  }

  :global(.webchat__link-definitions__list-item-text) {
    color: currentColor;
    text-decoration: none;
    text-overflow: ellipsis;
  }

  :global(.webchat__link-definitions__list-item-main-text):has(
      :global(.webchat__link-definitions__open-in-new-window-icon)
    )::before {
    align-self: center;
    background: currentColor;
    color: currentColor;
    content: '';
    flex: none;
    font-size: var(--webchat-fontSizeBase400);
    height: 1em;
    -webkit-mask: var(--webchat__citation__external-link--mask) no-repeat;
    mask: var(--webchat__citation__external-link--mask) no-repeat;
    padding: 0;
    width: 1em;
  }

  /* It seems Copilot does not show per-item sensitivity label, i.e. "General", etc. */
  :global(.webchat__link-definitions__list-item-badge) {
    display: none;
  }

  :global(.webchat__link-definitions__open-in-new-window-icon) {
    display: none;
  }
}
