
:global(.webchat-fluent) .activity-decorator {
  display: contents;

  --webchat__bubble--inline-padding: var(--webchat-spacingHorizontalL);
  --webchat__bubble--block-padding: var(--webchat-spacingVerticalM);
  --webchat__bubble--min-height: var(--webchat-bubble-minHeight);
  --webchat__bubble--max-width: var(--webchat-bubble-maxWidth);

  --webchat-bubble-maxWidth: var(--bubble-maxWidth, 450px);
  --webchat-bubble-minHeight: var(--bubble-minHeight, 36px);
  --webchat-externalLink-mask: var(--externalLink-mask, var(--webchat__icon-url--external-link) center center / 10px 10px);
  --webchat-externalLink-maxWidth: var(--externalLink-maxWidth, 204px);

  /* Override for stacked layout message which has user message bubble props */
  &:has(:global(.webchat__stacked-layout .webchat__bubble--from-user)) {
    --webchat__bubble--background-color: var(--webchat-colorBrandBackground2);
    --webchat__bubble--block-padding: var(--webchat-spacingVerticalS);
  }
}

/* Decorator fluent variant */
:global(.webchat-fluent) .activity-decorator.variant-fluent {
  --webchat__bubble--border-radius: var(--webchat-borderRadiusXLarge);
  --webchat__bubble--box-shadow: var(--webchat-shadow4);
  --webchat__bubble--background-color: var(--webchat-colorNeutralBackground1);
}

/* Decorator copilot variant */
:global(.webchat-fluent) .activity-decorator.variant-copilot {
  --webchat__bubble--border-radius: var(--webchat-borderRadiusXLarge);

  &:not(:has(:global(.webchat__bubble--from-user))) {
    --webchat__bubble--border-radius: var(--webchat-borderRadiusSmall);
    --webchat__bubble--block-padding: var(--webchat-spacingVerticalS) var(--webchat-spacingVerticalXXS);
    --webchat__bubble--inline-padding: 32px var(--webchat-spacingHorizontalNone);
  }

  &:not(:has(:global(.webchat__bubble--from-user))) :global(.webchat__stacked-layout__status) {
    display: none;
  }

  :global(.webchat__activity-status) {
    margin: 0 0 var(--webchat-spacingHorizontalXXS);
  }

  :global(.webchat__stacked-layout__status) {
    order: -1;
  }

  /* TODO: remove when we get decorators in and can place header direclty to the bubble*/
  &:not(:has(:global(.webchat__bubble--from-user))) :global(.webchat__stacked-layout .webchat__bubble .webchat__text-content) {
    padding-block: calc(var(--webchat-spacingVerticalS) + 20px) var(--webchat-spacingVerticalXXS);
  }
  &:not(:has(:global(.webchat__bubble--from-user))) :global(.webchat__stacked-layout .webchat__bubble) {
    margin-block-start: -24px;
    margin-inline-start: -4px;
  }
}

/* Transcript activity non-empty */
:global(.webchat-fluent) .activity-decorator :global(.webchat__basic-transcript__activity-body:not(:empty)) {
  padding-block-end: var(--webchat-spacingVerticalXL);
}

/* Stacked layout */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout) {
  display: flex;
  flex-flow: column nowrap;
}

/* Stacked layout which has message bubble */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__stacked-layout__content:has(.webchat__bubble)) {
  overflow: visible;
}

/* Message status */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__stacked-layout__status) {
  font-size: var(--webchat__font-size--small);
  line-height: var(--webchat__line-height--small);
}

/* Message bubble */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__bubble) {
  overflow: visible;
  max-width: var(--webchat__bubble--max-width);
}

/* Message bubble content */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__bubble .webchat__bubble__content) {
  background-color: var(--webchat__bubble--background-color);
  border-radius: var(--webchat__bubble--border-radius);
  border-width: 0;
  box-sizing: border-box;
  color: var(--webchat-colorNeutralForeground1);
  min-height: var(--webchat__bubble--min-height);
}

/* Message bubble text content */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__bubble .webchat__text-content) {
  font-size: var(--webchat__font-size--medium);
  line-height: var(--webchat__line-height--medium);
  min-height: auto;
  padding-block: var(--webchat__bubble--block-padding);
  padding-inline: var(--webchat__bubble--inline-padding);
}

/* Message bubble content pseudo */
:global(.webchat-fluent) .activity-decorator :global(.webchat__stacked-layout .webchat__bubble .webchat__bubble__content)::before {
  content: '';
  border-radius: inherit;
  box-shadow: var(--webchat__bubble--box-shadow);
  inset: 0;
  isolation: isolate;
  pointer-events: none;
  position: absolute;
}

/* Markdown links and citation links */
:global(.webchat-fluent) .activity-decorator :global(.webchat__render-markdown) a[href]:not(:global(.webchat__render-markdown__pure-identifier)) {
  color: var(--webchat-colorBrandForegroundLink);
  text-decoration-color: transparent;

  &:target {
    color: var(--webchat-colorBrandForegroundLinkSelected);
  }
  &:hover {
    color: var(--webchat-colorBrandForegroundLinkHover);
    text-decoration: underline 1px currentColor;
  }
  &:active {
    color: var(--webchat-colorBrandForegroundLinkPressed);
  }
  &:focus-visible {
    outline: none;
    text-decoration: underline 1px double var(--webchat-colorStrokeFocus2);
  }

  :global(.webchat__render-markdown__external-link-icon) {
    background: currentColor;
    -webkit-mask: var(--webchat__icon-url--external-link) no-repeat;
    mask: var(--webchat__icon-url--external-link) no-repeat;
  }
}

/* Citation inline references */
:global(.webchat-fluent) .activity-decorator :global(.webchat__render-markdown) :global(.webchat__render-markdown__citation),
:global(.webchat-fluent) .activity-decorator :global(.webchat__render-markdown) :global(.webchat__render-markdown__pure-identifier) {
  align-items: center;
  background-color: var(--webchat-colorNeutralBackground3);
  border: var(--webchat-strokeWidthThin) solid var(--webchat-colorNeutralStroke2);
  border-radius: var(--webchat-borderRadiusMedium);
  box-sizing: border-box;
  color: var(--webchat-colorNeutralForeground2);
  display: inline-flex;
  font-size: var(--webchat-fontSizeBase100);
  font-weight: var(--webchat-fontWeightSemibold);
  height: 14px;
  justify-content: center;
  line-height: var(--webchat-lineHeightBase100);
  margin-left: var(--webchat-spacingHorizontalXXS);
  margin-right: var(--webchat-spacingHorizontalXXS);
  min-width: 14px;
  text-decoration: none;
  vertical-align: calc((var(--webchat-lineHeightBase100) - var(--webchat-fontSizeBase100)) / 2);
  transition: all var(--webchat-durationNormal) var(--webchat-curveDecelerateMid);

  &:hover {
    cursor: pointer;
    color: var(--webchat-colorBrandForeground2Hover);
    border-color: var(--webchat-colorBrandStroke2Hover);
    background-color: var(--webchat-colorBrandBackground2Hover);
  }
  
  &:hover:active {
    color: var(--webchat-colorBrandForeground2Pressed);
    border-color: var(--webchat-colorBrandStroke2Pressed);
    background-color: var(--webchat-colorBrandBackground2Pressed);
  }

  &::before, &::after {
    all: unset;
  }

  &:has(:global(.webchat__render-markdown__external-link-icon)) {
    padding-inline: 3px;
  }

  :global(.webchat__render-markdown__external-link-icon) {
    background: currentColor;
    -webkit-mask: var(--webchat__icon-url--external-link) no-repeat;
    mask: var(--webchat__icon-url--external-link) no-repeat;
    height: 0.7em;
  }
}

/* Citation summary chevron */
:global(.webchat-fluent) .activity-decorator :global(.webchat__link-definitions__header) {
  :global(.webchat__link-definitions__header-text) {
    color: var(--webchat-colorNeutralForeground3);
  }

  :global(.webchat__link-definitions__header-chevron) {
    fill: var(--webchat-colorNeutralForeground3);
    font-size: var(--webchat__font-size--small);
    width: 1em;
  }
}

/* Citation link definitions */
:global(.webchat-fluent) .activity-decorator :global(.webchat__link-definitions) {
  --webchat__citation__external-link--mask: var(--webchat-externalLink-mask);
  --webchat__citation__link--max-width: var(--webchat-externalLink-maxWidth);

  :global(.webchat__link-definitions__list) {
    color: var(--webchat__color--subtle);
    display: flex;
    flex-flow: row wrap;
    gap: var(--webchat-spacingHorizontalS);
  }

  :global(.webchat__link-definitions__list-item) {
    max-width: var(--webchat__citation__link--max-width);
    border-radius: var(--webchat-borderRadiusMedium);
  }

  :global(.webchat__link-definitions__list-item-box) {
    background-color: var(--webchat-colorNeutralBackground3);
    border-radius: var(--webchat-borderRadiusMedium);
    border: var(--webchat-strokeWidthThin) solid var(--webchat-colorNeutralStroke2);
    box-sizing: border-box;
    color: currentColor;
    display: inline-flex;
    font-size: var(--webchat__font-size--small);
    height: 24px;
    padding-inline-end: var(--webchat-spacingHorizontalS);
  }

  :global(.webchat__link-definitions__list-item-body) {
    font-family: inherit;
    gap: var(--webchat-spacingHorizontalSNudge);
    min-width: 0;
    padding: 0;
  }

  :global(.webchat__link-definitions__badge) {
    align-self: center;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: currentColor;
    font-size: var(--webchat-fontSizeBase100);
    font-weight: var(--webchat-fontWeightSemibold);
    line-height: var(--webchat-lineHeightBase100);
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 20px;
  }

  :global(.webchat__link-definitions__badge)::after {
    content: '';
    border-right: var(--webchat-strokeWidthThin) solid var(--webchat-colorNeutralStroke2);
    bottom: 0;
    display: block;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
  }

  :global(.webchat__link-definitions__list-item-main-text) {
    gap: var(--webchat-spacingHorizontalXS);
  }

  :global(.webchat__link-definitions__list-item-text) {
    color: currentColor;
    text-decoration: none;
    text-overflow: ellipsis;
  }

  :global(.webchat__link-definitions__list-item-main-text):has(:global(.webchat__link-definitions__open-in-new-window-icon))::before {
    content: '';
    align-self: center;
    background: currentColor;
    color: currentColor;
    flex: none;
    font-size: var(--webchat-fontSizeBase400);
    height: 1em;
    -webkit-mask: var(--webchat__citation__external-link--mask) no-repeat;
    mask: var(--webchat__citation__external-link--mask) no-repeat;
    padding: 0;
    width: 1em;
  }

  :global(.webchat__link-definitions__open-in-new-window-icon) {
    display: none;
  }
}
