:global(.webchat-fluent) .activity-loader {
  align-self: flex-start;
  flex: none;
  height: 8px;
  margin: var(--webchat-spacingVerticalM) 0 0 18px;
  width: auto;

  &.variant-fluent {
    margin: 0 var(--webchat-spacingHorizontalSNudge) var(--webchat-spacingVerticalM)
      var(--webchat-spacingHorizontalSNudge);
  }

  &.variant-copilot-deprecated {
    margin: var(--webchat-spacingVerticalXS) 0 var(--webchat-spacingVerticalXS) -10px;
  }
}
