.App-Clock {
  align-items: flex-end;
  bottom: 0;
  color: White;
  display: flex;
  font-weight: 200;
  padding: 4vmin;
  position: absolute;
  text-shadow: 0 0 1vmin rgba(0, 0, 0, .5);
}

.App-Clock-Text {
  font-size: 16vmin;
  line-height: 15.5vmin;
}
