.App-SpeechInterims {
  color: White;
  display: flex;
  font-size: 10vmin;
  height: 100vh;
  left: 0;
  position: absolute;
  text-shadow: 0 0 1vmin rgba(0, 0, 0, .5);
  top: 0;
  width: 100vw;
}

.App-SpeechInterims > span {
  margin: 4vmin;
}
