:global(.webchat-fluent) .pre-chat-message-activity {
  box-sizing: border-box;
  display: grid;
  gap: var(--webchat-spacingHorizontalXXXL);
  grid-template-areas: 'body' 'toolbar';
  grid-template-rows: auto auto;
  padding: var(--webchat-spacingHorizontalXXXL) var(--webchat-spacingHorizontalM);
  position: relative;
}

:global(.webchat-fluent) .pre-chat-message-activity__body {
  font-family: var(--webchat-fontFamilyBase);
  font-size: var(--webchat-fontSizeBase300);
  font-weight: var(--webchat-fontWeightRegular);
  grid-area: body;
  line-height: var(--webchat-lineHeightBase300);
  text-align: center;
}

:global(.webchat-fluent) .pre-chat-message-activity__body--placeholder {
  opacity: 60%;
}

:global(.webchat-fluent) .pre-chat-message-activity__body h2 {
  color: var(--webchat-colorNeutralForeground1);
  font-family: inherit;
  font-weight: var(--webchat-fontWeightSemibold);
  font-size: var(--webchat-fontSizeHero700);
  line-height: var(--webchat-lineHeightHero700);
  margin: var(--webchat-spacingVerticalL) 0 0;
}

:global(.webchat-fluent) .pre-chat-message-activity__body img {
  border-radius: 4px;
  height: 64px;
}

:global(.webchat-fluent) .pre-chat-message-activity__toolbar {
  grid-area: toolbar;
}
