:global(.webchat-fluent) .pre-chat-message-activity {
  box-sizing: border-box;
  display: grid;
  gap: var(--webchat-spacingHorizontalXXXL);
  grid-template-areas: 'body' 'toolbar';
  grid-template-rows: auto auto;
  padding: var(--webchat-spacingHorizontalXXXL) var(--webchat-spacingHorizontalM);
  position: relative;
}

:global(.webchat-fluent) .pre-chat-message-activity__body {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--webchat-fontFamilyBase);
  font-size: var(--webchat-fontSizeBase300);
  font-weight: var(--webchat-fontWeightRegular);
  gap: var(--webchat-spacingVerticalXS);
  grid-area: body;
  line-height: var(--webchat-lineHeightBase300);
  text-align: center;
}

:global(.webchat-fluent) .pre-chat-message-activity__body--blueprint {
  opacity: 65%;

  .pre-chat-message-activity__body-avatar {
    filter: grayscale(1);
  }
}

:global(.webchat-fluent) .pre-chat-message-activity__body-avatar {
  border-radius: var(--webchat-borderRadiusMedium);
  height: 64px;
  margin-block-end: var(--webchat-spacingVerticalM);
}

:global(.webchat-fluent) .pre-chat-message-activity__body-title {
  color: var(--webchat-colorNeutralForeground1);
  font-family: inherit;
  font-size: var(--webchat-fontSizeHero700);
  font-weight: var(--webchat-fontWeightSemibold);
  line-height: var(--webchat-lineHeightHero700);
  margin: 0;
  overflow-wrap: anywhere;
}

:global(.webchat-fluent) .pre-chat-message-activity__body-subtitle {
  color: var(--webchat-colorNeutralForeground1);
  font-size: var(--webchat-fontSizeBase300);
  line-height: var(--webchat-lineHeightBase300);
  overflow-wrap: anywhere;
}

:global(.webchat-fluent) .pre-chat-message-activity__toolbar {
  grid-area: toolbar;
}
