:global(.webchat-fluent) .pre-chat-message-activity__card-action-box {
  appearance: none;
  background-color: var(--webchat-colorNeutralBackground1);
  border: 0;
  border-radius: 16px;
  box-shadow: var(--webchat-shadow2);
  color: var(--webchat-colorNeutralForeground1);
  cursor: pointer;
  display: grid;
  gap: 8px;
  grid-template-areas: 'title' 'subtitle';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  padding: 16px 20px;
  text-align: left;
  transition: background-color var(--webchat-durationNormal) var(--webchat-curveDecelerateMid);
  user-select: none;

  &:has(.pre-chat-message-activity__card-action-image) {
    grid-template-areas: 'image title' 'image subtitle';
    grid-template-columns: 20px 1fr;
  }

  &:disabled {
    cursor: default;
  }

  &:disabled:not(:empty) {
    background-color: var(--webchat-colorNeutralBackgroundDisabled);
  }

  &:hover:not(:disabled) {
    background-color: var(--webchat-colorNeutralBackground1Hover);
  }

  &:active:not(:disabled) {
    background-color: var(--webchat-colorNeutralBackground1Pressed);
  }

  &:focus-visible {
    outline: solid 2px var(--webchat-colorStrokeFocus2);
    outline-offset: -2px;
  }

  &:empty::before {
    content: '';
    display: block;
    width: 66%;
    height: 18px;
    background-color: var(--webchat-colorNeutralBackground6);
    border-radius: 18px;
    opacity: 1;
  }

  &:empty::after {
    content: '';
    display: block;
    width: 100%;
    height: 16px;
    background-color: var(--webchat-colorNeutralBackground6);
    border-radius: 16px;
    opacity: 0.8;
  }
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-image {
  grid-area: image;
  height: 20px;
  width: 20px;
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-subtitle {
  font-family: var(--webchat-fontFamilyBase);
  font-size: 14px;
  font-weight: var(--webchat-fontWeightRegular);
  grid-area: subtitle;
  line-height: 20px;
  pointer-events: none; /* Links in subtitle are not clickable. */
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-title {
  font-family: var(--webchat-fontFamilyBase);
  font-size: 14px;
  font-weight: var(--webchat-fontWeightSemibold);
  grid-area: title;
  line-height: 20px;
}
