:global(.webchat-fluent) .pre-chat-message-activity__card-action-box {
  appearance: none;
  background-color: var(--webchat-colorNeutralBackground1, #fff);
  /* border: solid 1px var(--webchat-colorNeutralStroke1, #d1d1d1); */
  border: 0;
  border-radius: 16px;
  box-shadow:
    0 0 2px 0 rgba(0, 0, 0, 12%),
    0 1px 2px 0 rgba(0, 0, 0, 14%);
  color: var(--webchat-colorNeutralForeground1, #242424);
  cursor: pointer;
  display: grid;
  gap: 8px;
  grid-template-areas: 'image title' 'image subtitle';
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  padding: 16px 20px;
  text-align: left;
  user-select: none;
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-box:disabled {
  background-color: var(--webchat-colorNeutralBackground1Disabled, #f0f0f0); /* Needs to add to Web Chat. */
  /* border-color: var(--webchat-colorNeutralStroke2, #e0e0e0); */
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-box:hover {
  background-color: var(--webchat-colorNeutralGrey94, #f0f0f0); /* Needs to add to Web Chat. */

  /* Needs to add to Web Chat: Fluent AI say #c7c7c7, Fluent UI say #e0e0e0 */
  /* border-color: var(--webchat-colorNeutralGrey88, #c7c7c7); */
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-box:active {
  background-color: var(--webchat-colorNeutralBackground1Pressed, #e0e0e0); /* Needs to add to Web Chat. */

  /* Needs to add to Web Chat. */
  /* border-color: var(--webchat-colorNeutralStroke1Pressed, #b3b3b3); */
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-box:focus-visible {
  outline: solid 2px var(--webchat-colorStrokeFocus2, #000);
  outline-offset: -2px;
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-image {
  grid-area: image;
  height: 20px;
  width: 20px;
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-subtitle {
  font-family: var(--webchat-fontFamilyBase);
  font-size: 14px;
  font-weight: 400;
  grid-area: subtitle;
  line-height: 20px;
  pointer-events: none; /* Links in subtitle are not clickable. */
}

:global(.webchat-fluent) .pre-chat-message-activity__card-action-title {
  font-family: var(--webchat-fontFamilyBase, 'Segoe UI');
  font-size: 14px;
  font-weight: 600;
  grid-area: title;
  line-height: 20px;
}
