:global(.webchat-fluent) .pre-chat-message-activity__monochrome-image-masker {
  background: var(--monochrome-image-masker-color, var(--webchat-colorNeutralForeground1));
  mask-image: var(--mask-image);
  --webkit-mask-image: var(--mask-image);
}
