:global(.webchat-fluent) .activity-toolbox {
  display: flex;
  padding-block: var(--webchat__bubble--block-padding);
  padding-block-start: 0; /* Specifically set block-start to 0. */
  padding-inline: var(--webchat__bubble--inline-padding);
}
