:global(.webchat) .audio-card-attachment {
  display: flex;
  flex-direction: column;

  > :global(ul.media-list) {
    list-style-type: none;
    margin: var(--webchat__padding--regular);
    padding: 0;
  }
}
