:global(.webchat-fluent) .sendbox {
  --webchat__sendbox--padding: var(--webchat__padding--sendbox);

  color: var(--webchat-colorNeutralForeground1);
  font-family: var(--webchat-fontFamilyBase);
  padding: var(--webchat__sendbox--padding);
  text-rendering: optimizeLegibility;

  --webchat-sendbox-attachment-area-active: ;
  --webchat-sendbox-border-radius: var(--webchat-borderRadiusLarge);
}

/* Copilot variant */
:global(.webchat-fluent) .sendbox.variant-copilot {
  .sendbox__text-counter:not(.sendbox__text-counter--error) {
    visibility: hidden;
  }
}

:global(.webchat-fluent) .sendbox__sendbox {
  background-color: var(--webchat-colorNeutralBackground1);
  border-radius: var(--webchat-sendbox-border-radius);
  border: 1px solid var(--webchat-colorNeutralStroke1);
  display: grid;
  font-family: var(--webchat-fontFamilyBase);
  font-size: 14px;
  gap: 6px;
  grid-template:
    [telephone-keypad-start] 'text-area' [telephone-keypad-end]
    var(--webchat-sendbox-attachment-area-active)
    'controls' / [telephone-keypad] 1fr;
  line-height: 20px;
  padding: 8px;
  position: relative;

  &:has(.sendbox__attachment--in-grid) {
    --webchat-sendbox-attachment-area-active: 'attachment';
  }

  &:focus-within {
    border-color: var(--webchat-colorNeutralStroke1Selected);
  }

  &::after {
    border-bottom-left-radius: var(--webchat-sendbox-border-radius);
    border-bottom-right-radius: var(--webchat-sendbox-border-radius);
    border-bottom: var(--webchat-strokeWidthThicker) solid var(--webchat-colorCompoundBrandForeground1Hover);
    bottom: -1px;
    clip-path: inset(calc(100% - var(--webchat-strokeWidthThicker)) 50% 0 50%);
    content: '';
    height: var(--webchat-sendbox-border-radius);
    left: -1px;
    position: absolute;
    right: -1px;
    transition: clip-path var(--webchat-durationUltraFast) var(--webchat-curveAccelerateMid);
  }

  &:focus-within::after {
    clip-path: inset(calc(100% - var(--webchat-strokeWidthThicker)) 0 0 0);
    transition: clip-path var(--webchat-durationNormal) var(--webchat-curveDecelerateMid);
  }

  > .sendbox__text-area--in-grid {
    grid-area: text-area;
  }

  > .sendbox__attachment--in-grid {
    grid-area: attachment;
  }

  > .sendbox__sendbox-controls--in-grid {
    grid-area: controls;
  }

  > .sendbox__telephone-keypad--in-grid {
    grid-area: telephone-keypad;
  }
}

:global(.webchat-fluent) .sendbox__sendbox-text {
  background-color: transparent;
  border: none;
  flex: auto;
  font-family: var(--webchat-fontFamilyBase);
  font-size: 14px;
  line-height: 20px;
  outline: none;
  padding: 4px 4px 0;
  resize: none;

  /* Prevent zoom on focus on iOS */
  @media only screen and (hover: none) and (pointer: coarse) {
    &:focus-within {
      font-size: 16px;
    }
  }
}

:global(.webchat-fluent) .sendbox__sendbox-controls {
  align-items: center;
  display: flex;
  padding-inline-start: 4px;
}

:global(.webchat-fluent) .sendbox__text-counter {
  color: var(--webchat-colorNeutralForeground4);
  cursor: default;
  font-family: var(--webchat-fontFamilyNumeric);
  font-size: 10px;
  line-height: 14px;
  margin-inline-end: 4px;
}

:global(.webchat-fluent) .sendbox__text-counter--error {
  color: var(--webchat-colorStatusDangerForeground1);
}
