:global(.webchat-fluent) .sendbox__text-area {
  display: grid;
  grid-template-areas: 'main';
  max-height: 200px;
  overflow: hidden;
}

:global(.webchat-fluent) .sendbox__text-area-shared {
  border: none;
  font: inherit;
  grid-area: main;
  outline: inherit;
  overflow-wrap: anywhere;
  resize: inherit;
  scrollbar-gutter: stable;
}

:global(.webchat-fluent) .sendbox__text-area-doppelganger {
  overflow: hidden;
  visibility: hidden;
  white-space: pre-wrap;
}

:global(.webchat-fluent) .sendbox__text-area-input {
  height: 100%;
  padding: 0
}

:global(.webchat-fluent) .sendbox__text-area-input--scroll {
  /* Edge uses -webkit-scrollbar if scrollbar-* is not set */
  scrollbar-color: unset;
  scrollbar-width: unset;
  /* Firefox */
  -moz-scrollbar-color: var(--webchat-colorNeutralBackground5) var(--webchat-colorNeutralForeground2);
  -moz-scrollbar-width: thin;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 8px
  }

  &::-webkit-scrollbar-track {
    background-color: var(--webchat-colorNeutralBackground5);
    border-radius: 16px
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--webchat-colorNeutralForeground2);
    border-radius: 16px
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--webchat-colorNeutralBackground5);
  }
}
