:global(.webchat-fluent) .sendbox__toolbar {
  --webchat__sendbox-button-height: 32px;

  display: flex;
  gap: 4px;
  height: var(--webchat__sendbox-button-height);
  margin-inline-start: auto;
}

:global(.webchat-fluent) .sendbox__toolbar-button {
  align-items: center;
  appearance: none;
  aspect-ratio: 1;
  background: transparent;
  border-radius: var(--webchat-borderRadiusSmall);
  border: none;
  color: currentColor;
  cursor: pointer;
  display: flex;
  height: var(--webchat__sendbox-button-height);
  justify-content: center;
  padding: 3px;

  --webchat__fluent-icon--size: 20px;

  > :global(.webchat__monochrome-image-masker) {
    font-size: 20px;
    pointer-events: none;
  }

  &.sendbox__toolbar-button--selected {
    color: var(--webchat-colorNeutralForeground2BrandSelected);
  }

  @media (hover: hover) {
    &:not([aria-disabled='true']):hover {
      color: var(--webchat-colorNeutralForeground2BrandHover);
    }
  }

  &:not([aria-disabled='true']):active {
    color: var(--webchat-colorNeutralForeground2BrandPressed);
  }

  &[aria-disabled='true'] {
    color: var(--webchat-colorNeutralForegroundDisabled);
    cursor: not-allowed;
  }
}

:global(.webchat-fluent) .sendbox__toolbar-separator {
  align-self: center;
  border-inline-end: 1px solid var(--webchat-colorNeutralStroke2);
  height: 28px;

  &:first-child,
  &:last-child,
  &:only-child {
    display: none;
  }
}
