{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", {
      "forceAllTransforms": true,
      "modules": "commonjs"
    }],
    "@babel/react"
  ]
}
