$gd_dark_sky_blue: #31ace2;

.file-upload-title{
    background-color: $gd_dark_sky_blue;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 10px 0 20px;
    border-top-left-radius: 14px;
}

.file-upload-title + div{
    border: 1px dashed $gd_dark_sky_blue !important;
    margin: 14px;
    display: flex;    
    align-items: center;    
    justify-content: center;
}

.wc-message-from-me{
    &.wc-message-file{
        .wc-message-content {
            background-color: transparent;
            border: 1px solid $gd_dark_sky_blue;
            padding: 0px;
        }
    }
} 

.drop-text {    
    color: $gd_dark_sky_blue;
    text-align: center;
}

.bold-line{
    font-weight: 600;
}

.upload-skip {
    color: $gd_dark_sky_blue;
    text-align: center;
    padding: 13px 0px;
    border-top: 2px solid $gd_dark_sky_blue;
    cursor: pointer;
    font-weight: 600;
}

.fileAttach{
    background-image: url("https://cdn1.imggmi.com/uploads/2018/10/15/7c7174a92ae80437fb8e996a7889dfc3-full.png");  
    min-width: 60px;
    min-height: 70px;  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 20px 0;
}

a.remove_link{
    text-decoration: underline;
}

.add-padding{
    padding: 25px;
}

div.no-border{
    border: none !important;
}