@import "colors";
@import "media-queries";

.wc-message-from-me{
    &.wc-message-imBack{
        .wc-message-content {
            background-color: transparent;
            border: 1px solid $c_brand;
            border: none;
            padding: 10px 5px;
            box-shadow: none;
        }
    }
  }

  .wc-suggested-options{
    display: flex;
    flex-direction: column;

    ul{
      overflow-y: auto;
      overflow-x: hidden;
      
      @include desktop-all {
        max-height: 28vh;
      }
    }

    li{
      color: $c_brand;
      border: 1px solid $c_brand;
      border-radius: 8px;
      // border-top-right-radius: 0px;
      padding: 8px;
      margin-bottom: 10px;
      margin-right: 5px;
      cursor: pointer;
      white-space: normal;
      width: 100%;
      overflow-wrap: break-word;
      display: inline-block;
      text-align: center;
    }

    li:hover {
        background-color: $c_brand;
        color: #ffffff;
    }

    li:active {
        background-color: $c_brand;
        color: #ffffff;
    }

    &-submit {
      align-self: center;
      width: 60%;
    }
  }

  li.wc-suggested-options-option-selected {
    background-color: $c_brand;
    color: #ffffff;
  }
