$actionsHeight: 58px;
$consoleHeight: 50px;
$messageBorderRadius:14px;

$fontFamily: 'Segoe UI', sans-serif;
$fontSize: 15px;

$headerPaddingBottom: 15px;
$headerPaddingLeft: 20px;
$headerPaddingRight: 8px;
$headerPaddingTop: 23px;
$headerTotalHeight: 52px;

$actionTransition: .2s cubic-bezier(0,0,.5,1);

$message_font_size: 14px;

$card_narrow: 216px;
$card_normal: 320px;
$card_wide: 416px;

$card_borderWidth: 1px;
$card_padding: 8px;

$card_fontSize: 13px;

$separation: 8px;