$actionsHeight: 40px;
$consoleHeight: 50px;

$fontFamily: 'Segoe UI', sans-serif;

$headerPaddingBottom: 0;
$headerPaddingLeft: 8px;
$headerPaddingRight: 8px;
$headerPaddingTop: 8px;
$headerTotalHeight: 38px;

$actionTransition: .2s cubic-bezier(0,0,.5,1);
