
:global(.webchat-fluent) .telephone-keypad {
  /* Commented out whitelabel styles for now. */
  /* background: getHighContrastDarkThemeColor(highContrastColor: black, darkThemeColor: gray190, string, defaultColor: gray10), */
  /* borderRadius: '8px 8px 0px 0px; */
  /* boxShadow: '-3px 0px 7px 0px rgba(0, 0, 0, 0.13), -0.6px 0px 1.8px 0px rgba(0, 0, 0, 0.10)', */

  align-items: center;
  background: var(--webchat-colorNeutralBackground1);
  /* border: isHighContrastTheme() ? `1px solid ${white}` : none; */
  border: none;
  border-radius: var(--webchat-borderRadiusXLarge);
  /* boxShadow: var(--shadow16); */
  display: flex;
  flex-direction: column;
  font-family: var(--webchat-fontFamilyBase);
  justify-content: center;
  /* margin: var(--spacingHorizontalMNudge)' */
}

:global(.webchat-fluent) .telephone-keypad__box {
  box-sizing: border-box;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  padding: 16px;
  width: 100%;
}

:global(.webchat-fluent) .telephone-keypad__info-message {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
  color: var(--webchat-colorNeutralForeground4);
  margin-block-end: 6px;
}

:global(.webchat-fluent) .telephone-keypad__info-message-link {
  color: var(--webchat-colorBrandForegroundLink);
  text-decoration-color: transparent;

  &:target {
    color: var(--webchat-colorBrandForegroundLinkSelected);
  }
  &:hover {
    color: var(--webchat-colorBrandForegroundLinkHover);
    text-decoration: underline 1px currentColor;
  }
  &:active {
    color: var(--webchat-colorBrandForegroundLinkPressed);
  }
  &:focus-visible {
    outline: none;
    text-decoration: underline 1px double var(--webchat-colorStrokeFocus2);
  }
}
