
:global(.webchat-fluent) .suggested-actions {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:not(:empty) {
    padding-block-end: 8px;
    padding-inline-start: 4px
  }

  &:global(.webchat-fluent) .suggested-actions--flow {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &:global(.webchat-fluent) .suggested-actions--stacked {
    flex-direction: column
  }
}
