:global(.webchat-fluent) .suggested-action {
  align-items: center;
  background: transparent;
  border: 1px solid var(--webchat-colorBrandStroke2);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  padding: 4px 8px 4px;
  text-align: start;
  gap: 4px;
  transition: all .15s ease-out;

  @media (hover: hover) {
    &:not([aria-disabled="true"]):hover {
      background-color: var(--webchat-colorBrandBackground2Hover);
      color: var(--webchat-colorBrandForeground2Hover)
    }
  }
  &:not([aria-disabled="true"]):active {
    background-color: var(--webchat-colorBrandBackground2Pressed);
    color: var(--webchat-colorBrandForeground2Pressed)
  }
  &[aria-disabled="true"] {
    color: var(--webchat-colorNeutralForegroundDisabled);
    cursor: not-allowed
  }
}

:global(.webchat-fluent) .suggested-action__image {
  width: 1em;
  height: 1em;
  font-size: 12px;
}
