.minimizable-web-chat>button.maximize {
  border: none;
  border-radius: 50%;
  bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  color: White;
  font-size: 30px;
  height: 64px;
  outline: 0;
  padding: 0px;
  position: fixed;
  right: 25px;
  width: 64px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}

.minimizable-web-chat>button.maximize>.red-dot {
  color: #EF0000;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 12px;
}

/* 
.minimizable-web-chat > button.maximize:focus:not(:active),
.minimizable-web-chat > button.maximize:hover:not(:active) {
  background-color: #069;
  border-color: #069;
} */

/* .minimizable-web-chat > button.maximize:active {
  background-color: White;
  color: #39C;
} */

.minimizable-web-chat>.chat-box {
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 400px;
  max-height: 590px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.minimizable-web-chat>.chat-box.hide {
  display: none;
}

.minimizable-web-chat>.chat-box.left {
  left: 20px;
}

.minimizable-web-chat>.chat-box.right {
  right: 20px;
}

.minimizable-web-chat>.chat-box>header {
  /* background-color: #ed823c; */
  color: white;
  border-radius: 7px 7px 0 0;
  padding: 8px;
  display: flex;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px !important;
}

/* @media (min-width: 960px) and (min-height: 600px) {
  .minimizable-web-chat > .chat-box > header {
      height: 80px;
  }

} */

.minimizable-web-chat>.chat-box>header>.filler {
  flex: 0 10000 100%;
}

.minimizable-web-chat>.chat-box>header>button {
  width: 40px;
  height: 40px;
  background-color: Transparent;
  border: 0;
  color: White;
  outline: 0;
}

.brandmessage {
  bottom: 0;
  color: #767676;
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  /* position:absolute; */
}

.minimizable-web-chat>.chat-box>header>button:focus:not(:active),
.minimizable-web-chat>.chat-box>header>button:hover:not(:active) {
  color: rgba(255, 255, 255, .6);
}

.minimizable-web-chat>.chat-box>header>button:focus:active {
  color: rgba(255, 255, 255, .4);
}

.minimizable-web-chat>.chat-box>.react-web-chat {
  flex: 1;
}

.main {
  border-radius: 15px;
  margin-bottom: 10px;
}

.webchat__send-box__main {
  border-radius: 15px;
  margin-bottom: 10px;
}

@media (max-width:960px),
(max-height: 600px) {

  .minimizable-web-chat>.chat-box.left,
  .chat-box.right {
    left: 0px;
    right: 0px;
  }

  .minimizable-web-chat>.chat-box {
    min-width: 100%;
    height: 100%;
    bottom: 0px;
    max-height: 100%;
  }

  .minimizable-web-chat>.chat-box>header {
    border-radius: 0;
    height: 40px !important;
    background-image: none !important;
    margin: 0px !important
  }

  .switch {
    visibility: hidden;
  }
}

.chat-button-message {
  padding: 10px;
  position: fixed;
  bottom: 115px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
  max-width: 300px;
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
}

.chat-button-message-close {
  position: absolute;
  width: 100%;
  right: -12px;
  top: 2px;
}

.close-button-no-animate {
  display: block;
}

.chat-button-message-arrow {
  position: absolute;
  bottom: -10px;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

/* browser scrollbar customization */
.web-chat ::-webkit-scrollbar {
  width: 8px;
}

.web-chat ::-webkit-scrollbar * {
  background-color: transparent;
}

.web-chat ::-webkit-scrollbar-thumb {
  background-color: #dbdee1;
}

.open-chat-animate {
  -webkit-animation: open-chat-anim 0.46s 0.2s cubic-bezier(0, 0, 0, 1) both;
  animation: open-chat-anim 0.46s 0.2s cubic-bezier(0, 0, 0, 1) both;
}

.open-chat-no-animate {
  display: auto;
  visibility: visible;
}

.close-chat-animate,
.close-chat-no-animate,
.open-chat-animate,
.open-chat-no-animate {
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.close-chat-animate {
  -webkit-animation: close-chat-anim 0.46s cubic-bezier(0, 0, 0, 1) both;
  animation: close-chat-anim 0.46s cubic-bezier(0, 0, 0, 1) both;
}

.close-chat-no-animate {
  display: none;
}

@-webkit-keyframes open-chat-anim {
  0% {
    display: none;
    opacity: 0;
    visibility: visible;
  }

  1% {
    display: auto;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-box-shadow: 0 6px 20px transparent;
    box-shadow: 0 6px 20px transparent;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
}

@keyframes open-chat-anim {
  0% {
    display: none;
    opacity: 0;
    visibility: visible;
  }

  1% {
    display: auto;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-box-shadow: 0 6px 20px transparent;
    box-shadow: 0 6px 20px transparent;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes close-chat-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    display: auto;
  }

  99% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-box-shadow: 0 6px 20px transparent;
    box-shadow: 0 6px 20px transparent;
    display: auto;
  }

  to {
    display: none;
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes close-chat-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    display: auto;
  }

  99% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-box-shadow: 0 6px 20px transparent;
    box-shadow: 0 6px 20px transparent;
    display: auto;
  }

  to {
    display: none;
    opacity: 0;
    visibility: collapse;
  }
}

.open-button-animate {
  -webkit-animation: open-tab-anim 0.4s cubic-bezier(0, 0, 0, 1) both;
  animation: open-tab-anim 0.4s cubic-bezier(0, 0, 0, 1) both;
}

.open-button-no-animate {
  display: none;
}

.close-button-animate {
  -webkit-animation: close-tab-anim 0.4s 0.36s cubic-bezier(0, 0, 0, 1) both;
  animation: close-tab-anim 0.4s 0.36s cubic-bezier(0, 0, 0, 1) both;
}

.close-button-no-animate {
  display: block;
}

@-webkit-keyframes open-tab-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  99% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    display: auto;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes open-tab-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  99% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    display: auto;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes close-tab-anim {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    display: auto;
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes close-tab-anim {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    display: auto;
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.chatContainer {
  display: flex;
  justify-content: flex-end;
}

.chatImageDiv {
  margin-right: 10px;
  /* Ajusta el espacio entre la imagen y el mensaje según tu preferencia */
}

.streamingMessage {
  flex-grow: 1;
  background: rgb(241, 241, 244);
  border-color: rgb(230, 230, 230);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  color: rgb(87, 90, 94);
  min-height: 38px;
}

.chatImage {
  height: auto;
  width: 32px;
}

.streamingChat {
  padding: 15px;
  overflow: auto;
  margin-bottom: 45px;
}
.streamingChatLoadig{
  margin: 15px;
}

.streamingChat p {
  display: inline;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dbdee1;
}

.webChatNone {
  display: none !important;
}

.buttonContainer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cancelButton {  
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.typing-dots {
  display: inline-block;
  margin-left: 10px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 2px;
  opacity: 0;
  animation: typing 1.5s infinite;
}

@keyframes typing {
  0%,
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}
@media (min-width: 470px) and (min-height: 600px){
  .streamingChatContainer{
    width: auto !important;
  }
}
.streamingChatContainer{
  width: 65%;
}