.web-chat {
  overflow: hidden;
  border-radius: 0px 0px 7px 7px;
}

.webchat__carousel-layout .webchat__bubble {
  min-height: 100%;
  min-width: 238px;
}

.connect-spinner {
  display: flex;
  margin: auto;
  text-align: center;
}

.connect-spinner > .content {
  margin: auto;
}

.connect-spinner > .content > .icon {
  font-size: 64px;
}
.ms-Icon--Robot{
  color:  rgba(255, 255, 255, .4);
}
