/* TODO: [P0] Put this inside botframework-webchat-component as default implementation. */
:global(.webchat-experience-chat-launcher) .button {
  /* TODO: [P0] Expose some CSS classes to white-label. */
  --webchat-borderRadiusMedium: var(--borderRadiusMedium, 4px);
  --webchat-colorNeutralBackground1: var(--colorNeutralBackground1, #ffffff);
  --webchat-colorNeutralBackground1Hover: var(--colorNeutralBackground1Hover, #f5f5f5);
  --webchat-colorNeutralBackground1Pressed: var(--colorNeutralBackground1Pressed, #e0e0e0);
  --webchat-colorNeutralBackground1Selected: var(--colorNeutralBackground1Selected, #ebebeb);
  --webchat-colorNeutralForeground1: var(--colorNeutralForeground1, #242424);
  --webchat-colorNeutralStroke1: var(--colorNeutralStroke1, #d1d1d1);
  --webchat-colorNeutralStroke1Hover: var(--colorNeutralStroke1Hover, #c7c7c7);
  --webchat-colorNeutralStroke1Pressed: var(--colorNeutralStroke1Pressed, #b3b3b3);
  --webchat-colorNeutralStrokeDisabled: var(--colorNeutralStrokeDisabled, #e0e0e0);
  --webchat-shadow8: var(--shadow8, 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14));

  /* TODO: [P*] Is this a good naming system? Sorry I forgot if we should still go CSS BEM-alike or not. */
  /* TODO: [P0] Should we expose some customizable CSS variables? */
  /* TODO: [P0] Should it be customizable to anchor to bottom/left instead? */
  --webchat-button-background: var(--webchat-colorNeutralBackground1);
  --webchat-button-borderColor: var(--webchat-colorNeutralStroke1);
  --webchat-button-borderColor--active: var(--webchat-colorNeutralStroke1Pressed);
  --webchat-button-borderColor--hover: var(--webchat-colorNeutralStroke1Hover);
  --webchat-button-borderColor--disabled: var(--webchat-colorNeutralStrokeDisabled);
  --webchat-button-borderRadius: var(--webchat-borderRadiusMedium);
  --webchat-button-borderWidth: 0px;
  --webchat-button-color: var(--webchat-colorNeutralForeground1);
  --webchat-button-shadow: 0;
  --webchat-button-size: 32px;

  appearance: none;
  background: var(--webchat-button-background);
  border-color: var(--webchat-button-borderColor);
  border-radius: var(--webchat-button-borderRadius);
  border-style: solid;
  border-width: var(--webchat-button-borderWidth);
  box-shadow: var(--webchat-button-shadow);
  color: var(--webchat-button-color);
  height: var(--webchat-button-size);
  min-width: var(--webchat-button-size);
  padding: 0;
}

:global(.webchat-experience-chat-launcher) .button:hover {
  --webchat-button-background: var(--webchat-colorNeutralBackground1Hover);
  --webchat-button-borderColor: var(--webchat-button-borderColor--hover);
}

:global(.webchat-experience-chat-launcher) .button:active {
  --webchat-button-background: var(--webchat-colorNeutralBackground1Pressed);
  --webchat-button-borderColor: var(--webchat-button-borderColor--active);
}

:global(.webchat-experience-chat-launcher) .button:disabled {
  --webchat-button-background: var(--webchat-colorNeutralBackground1Pressed);
  --webchat-button-borderColor: var(--webchat-button-borderColor--disabled);
}

:global(.webchat-experience-chat-launcher) .button.button--appearance-elevated {
  /* We think elevated button is perfectly round, while others has rounded corners. */
  --webchat-button-borderRadius: var(--webchat-button-size);
  --webchat-button-borderWidth: 1px;
  --webchat-button-shadow: var(--webchat-shadow8);
}

:global(.webchat-experience-chat-launcher) .button.button--size-hero {
  --webchat-button-size: 60px;
}
