:global(.webchat-experience-chat-launcher) .chat-launcher-button {
  --webchat-chatLauncherButton-margin: 40px;

  bottom: 0;
  position: fixed;
  margin: var(--webchat-chatLauncherButton-margin);
  right: 0;
}
