:global(.webchat-experience-chat-launcher) .chat-launcher-popover {
  /* TODO: [P0] Refactor variables to global or upper layer. */
  --webchat-colorNeutralBackground1: var(--colorNeutralBackground1, #ffffff);
  --webchat-shadow64: var(--shadow64, 0 0 8px rgba(0, 0, 0, 0.12), 0 32px 64px rgba(0, 0, 0, 0.14));

  /* TODO: [P*] Is this a good naming system? Sorry I forgot if we should still go CSS BEM-alike or not. */
  --webchat-chatLauncherModal-background: var(--webchat-colorNeutralBackground1);
  --webchat-chatLauncherModal-box-shadow: var(--webchat-shadow64);
  --webchat-chatLauncherModal-border-radius: 20px;
  --webchat-chatLauncherModal-height: 610px;
  --webchat-chatLauncherModal-width: 340px;

  background: var(--webchat-chatLauncherModal-background);
  border: 0;
  border-radius: var(--webchat-chatLauncherModal-border-radius);
  box-shadow: var(--webchat-chatLauncherModal-box-shadow);
  height: var(--webchat-chatLauncherModal-height);
  width: var(--webchat-chatLauncherModal-width);
}
