/* reset */

frame {
  border: 0px;
}

body {
  background-color: #f5f5f5;
}

body .wc-app,
.wc-app button,
.wc-app input,
.wc-app textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

.wc-app button {
  border: 0px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  text-align: center;
  color: #0084ff;
  outline: none;
  transition: color .2s ease, background-color .2s ease;
  cursor: pointer;
}

.wc-app h1,
.wc-app h2,
.wc-app h3,
.wc-app h4,
.wc-app p,
.wc-app ul,
.wc-app ol {
  margin: 0;
  padding: 0;
}

.wc-app audio,
.wc-app video {
  display: block;
}


/* docking */

.wc-hidden {
  visibility: hidden;
}

.wc-add {
  height: 95px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  line-height: 1.5;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wc-add img{
  max-height: 85px;
  width: 100%;
}

.wc-header {
  background-color: #ff633f;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  text-align: center;
  color: #fff;
  font-weight: 500;
  height: 30px;
   /*height + padding-top = total height */
  left: 0;
  letter-spacing: 0.5px;
  font-size: 18px;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  line-height: 1.5;
}

.wc-time {
  color: #999;
  margin-bottom: 10px;
}

.wc-message-groups {
  bottom: 50px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 100px;
  /* from wc-header total height */
}

.wc-console {
  background-color: #ffffff;
  font-size: 14px;
  /*box-shadow: inset 0 1px 0 0 #cccccc, inset 0 -1px 0 0 #cccccc;*/
  bottom: 0;
  box-sizing: border-box;
  height: 44px;
  left: 0;
  position: absolute;
  right: 0;
}


/* views */

.wc-chatview-panel {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}


/* messages */

.wc-message-group {
  display: table;
  height: 100%;
  width: 100%;
}

.wc-message-group-content {
  display: table-cell;
  vertical-align: bottom;
}

.wc-message-wrapper {
  animation: animationFrames 2s;
  animation-iteration-count: 1;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  /*transition: max-height 2s ease-in-out;*/
}

@keyframes animationFrames {
  0% {
    /*max-height: 0;*/
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    /*max-height: 2000px;*/
  }
}

.wc-message {
  max-width: 80%;
  position: relative;
}

.wc-message svg.wc-message-callout {
  height: 22px;
  position: absolute;
  stroke: none;
  top: 12px;
  width: 6px;
}

.wc-message-content {
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  word-break: break-word;
}

.wc-message-content.clickable {
  cursor: pointer;
}

.wc-message-content.selected {
  box-shadow: 0px 1px 1px 0px #ffa333
}

.wc-message-content img {
  max-height: 320px;
  max-width: 100%;
}

.wc-message-content audio,
.wc-message-content video {
  max-width: 100%;
}

.wc-message-content audio+h1,
.wc-message-content video+h1 {
  margin-top: 11px;
}

.wc-message-from {
  clear: both;
  color: #999;
  font-size: 11px;
  margin-top: 5px;
}


/* cards */

.wc-card {
  background-color: #fff;
  /*border: 1px solid #d2dde5;*/
  font-size: 13px;
  /*padding: 8px;*/
}

.wc-card button {
  background-color: transparent;
  color: #0084ff;
  min-height: 32px;
  width: 100%;
  padding: 0 16px;
}

.wc-card button:hover {
  background-color: transparent;
  border: 1px solid #0084ff;
  color: #0084ff;
}

.wc-card button:active {
  background-color: #0084ff;
  border-color: #0084ff;
  color: white;
}

.wc-card h1 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.2px;
  color: #4d4d4d;
}

.wc-card h2 {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  color: #8e8e8e;
}

.wc-card p {
  padding-bottom: 10px;
}

.wc-card h1,
.wc-card h2,
.wc-card p {
  margin-left: 8px;
  margin-right: 8px;
}


/* don't double indent */

.wc-card p h2 {
  margin-left: 0;
}

ul.wc-card-buttons {
  clear: both;
  display: flex;
  flex-direction: column;
}

ul.wc-card-buttons li {
  list-style-type: none;
  text-align: center;
  float: left;
  margin: 2px;
}

.wc-card.hero img {
  display: block;
  margin-bottom: 11px;
}

.wc-card.receipt table {
  border-collapse: collapse;
  width: 100%;
}

.wc-card.receipt th,
.wc-card.receipt td {
  text-align: right;
  vertical-align: top;
}

.wc-card.receipt th:first-child,
.wc-card.receipt td:first-child {
  text-align: left;
}

.wc-card.receipt th {
  color: #808c95;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.75;
}

.wc-card.receipt thead tr:last-child th {
  padding-bottom: 16px;
}

.wc-card.receipt th[colspan="2"] {
  color: inherit;
  font-size: 15px;
  font-weight: 700;
}

.wc-card.receipt td {
  padding: 4px 8px 0 8px;
}

.wc-card.receipt td img {
  float: left;
  margin: 5px 8px 8px 0;
  max-height: 50px;
  max-width: 50px;
}

.wc-card.receipt tbody tr,
.wc-card.receipt tfoot tr {
  border-top: 1px solid #d2dde5;
}

.wc-card.receipt tbody tr:first-child,
.wc-card.receipt tfoot tr:first-child {
  border-top-width: 2px;
}

.wc-card.receipt tfoot td {
  line-height: 2.25;
}

.wc-card.receipt tfoot .total {
  font-weight: bold;
}

.wc-card.thumbnail img {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 100px;
}

.wc-card.signin h1 {
  margin: 10px 24px 16px 14px;
}


/* list */

.wc-list > .wc-card {
  margin-top: 8px;
}

.wc-list > .wc-card:first-child {
  margin-top: 0;
}


/* carousel */

.wc-carousel {
  position: relative;
}

.wc-carousel button.scroll {
  background-color: #d2dde5;
  height: 28px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 28px;
}

.wc-carousel button.scroll:disabled {
  display: none;
}

.wc-carousel button.scroll:hover {
  background-color: #808c95;
}

.wc-carousel button.scroll svg {
  fill: #fff;
}

.wc-carousel button.scroll.previous {
  left: -16px;
}

.wc-carousel button.scroll.next {
  right: -16px;
}

.wc-carousel-scroll-outer {
  /* allow horizontal scrolling but hide the scrollbar */
  overflow: hidden;
}

.wc-carousel-scroll {
  /* allow horizontal scrolling but hide the scrollbar */
  overflow-x: scroll;
  overflow-y: hidden;
}

.wc-carousel-scroll > ul {
  margin-left: -4px;
  white-space: nowrap;
}

.wc-carousel-scroll > ul > li {
  display: inline-block;
  max-width: 640px;
  padding: 0 4px;
  vertical-align: top;
  white-space: normal;
  width: 85%;
}

.wc-carousel-scroll > ul > li:last-child {
  padding-right: 0;
}

.wc-carousel li p {
  min-height: 4em;
  white-space: normal;
}


/* from me */

.wc-message-from-me {
  float: right;
  margin-right: 6px;
}

.wc-message-from-me.wc-message-from {
  text-align: right;
}

.wc-message-from-me .wc-message-content {
  background-color: #ff633f;
  border-radius: 8px;
  border: solid 1px #e63109;
  box-shadow: 0 2px 50px 0 rgba(255, 88, 50, 0.2), 0 5px 20px 0 rgba(255, 88, 50, 0.3);
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
}

.wc-message-from-me svg.wc-message-callout path {
  fill: #ff633f;
  display: none;
}

.wc-message-from-me svg.wc-message-callout path.point-left {
  fill: #ff633f;
  display: none;
}

/*.wc-message-from-me svg.wc-message-callout {
  right: -6px;
}*/


/* from bot */

.wc-message-from-bot {
  float: left;
  margin-left: 8px;
}

.wc-message-from-bot .wc-message-content {
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
}

.wc-message-from-bot svg.wc-message-callout path {
  fill: #eceff1;
  display: none;
}

.wc-message-from-bot svg.wc-message-callout path.point-right {
  fill: #eceff1;
  display: none;
}

.wc-message-from-bot svg.wc-message-callout {
  left: -6px;
}


/* console */

.wc-console > * {
  position: absolute;
  top: 0;
  vertical-align: middle;
}

.wc-console label {
  cursor: pointer;
  display: inline-block;
  height: 40px;
}

.wc-console svg {
  fill: #8A8A8A;
  margin: 11px;
}

.wc-console textarea,
.wc-console input[type=text] {
  border: none;
  height: 100%;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
}

.wc-console input::-webkit-input-placeholder {
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  color: #cccccc;
}

.wc-upload input {
  background-color: #cecece;
  display: none;
}

.wc-textbox {
  bottom: 0;
  left: 50px;
  right: 50px;
}

.wc-send {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  color: #cccccc;
  padding: 15px 5px;
  right: 0;
}

.wc-console.has-text .wc-send {
  color: #0083ff;
}


/* animation */

.wc-animate-scroll {
  left: 0;
  position: absolute;
  transition: left .8s ease;
}

.wc-animate-scroll-rapid {
  left: 0;
  position: absolute;
  transition: left .4s ease;
}

.wc-animate-scroll-near {
  left: 0;
  position: absolute;
  transition: left .5s ease-in-out;
}


/* text formats */

.format-markdown>p {
  margin-bottom: 0px;
}

.format-markdown code {
  white-space: pre-wrap;
}

.format-markdown+div {
  margin-top: 8px;
}

.format-markdown ol {
  padding-left: 30px;
  /* numbers are right-aligned to the period */
}

.format-markdown ul {
  padding-left: 33px;
}


/* browser scrollbar customization */

.wc-app::-webkit-scrollbar {
  width: 8px;
}

.wc-app::-webkit-scrollbar * {
  background-color: transparent;
}

.wc-app::-webkit-scrollbar-thumb {
  background-color: #DBDEE1;
}
